<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soho.demo.dao.DogDAO">

    <resultMap id="BaseResultMap" type="com.soho.demo.domain.Dog">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="ctime" jdbcType="BIGINT" property="ctime" />
        <result column="utime" jdbcType="BIGINT" property="utime" />
        <result column="state" jdbcType="INTEGER" property="state" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, age, sex, ctime, utime, state
    </sql>

    <insert id="insert" parameterType="com.soho.demo.domain.Dog">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into dog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="utime != null">
                utime,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=BIGINT},
            </if>
            <if test="utime != null">
                #{utime,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.soho.demo.domain.Dog">
        update dog
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=BIGINT},
            </if>
            <if test="utime != null">
                utime = #{utime,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from dog
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="countByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd" resultType="java.lang.Integer">
        select count(1)
        from dog
        <include refid="Global.Where_Clause" />
    </select>

    <select id="findByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd" resultMap="BaseResultMap">
        select
        <include refid="Global.Field_Clause" />
        from dog
        <include refid="Global.Where_Clause" />
    </select>

    <delete id="deleteByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd">
        delete from dog
        <include refid="Global.Where_Clause" />
    </delete>

    <update id="updateByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd">
        update dog
        <set>
            <if test="updateObj.name != null">
                name = #{updateObj.name,jdbcType=VARCHAR},
            </if>
            <if test="updateObj.age != null">
                age = #{updateObj.age,jdbcType=INTEGER},
            </if>
            <if test="updateObj.sex != null">
                sex = #{updateObj.sex,jdbcType=INTEGER},
            </if>
            <if test="updateObj.ctime != null">
                ctime = #{updateObj.ctime,jdbcType=BIGINT},
            </if>
            <if test="updateObj.utime != null">
                utime = #{updateObj.utime,jdbcType=BIGINT},
            </if>
            <if test="updateObj.state != null">
                state = #{updateObj.state,jdbcType=INTEGER},
            </if>
        </set>
        <include refid="Global.Where_Clause" />
    </update>

    <select id="findMapByCnd" parameterType="com.soho.mybatis.sqlcode.condition.Cnd" resultType="java.util.Map">
        select
        <include refid="Global.Field_Clause" />
        from
        <include refid="Global.Where_Clause_Complex" />
    </select>
</mapper>